<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Brain News</title>
    <link rel="stylesheet" href="static/news/styles.css">
  </head>
  <body>
    <!-- Top Line -->
    <div class="topLine">
      <div class="topLineContent">
        <p>Date - 22.09.17 </p>
      </div>
      <div class="topLineContent">
        <p>Good News</p>
      </div>
    </div>

    <!-- Second Line -->
      <p class="secondLine">One of the main reasons why the need for feel good news arose is because it provides us with a positive way forward.</p>

    <!-- Headline -->
    <div class="headline">
      <h1>Good News!</h1>
    </div>

    <!-- Division 1 -->
    <div class="div1">
      <div class="div1News">
        <div class="newsTag">
          <p>Today 01</p>
        </div>
        <h3>A medical breakthrough offered hope to blind people</h3>
        <p>Scientists have restored vision to 20 people using a bioengineered cornea made from pig skin. The breakthrough brings hope to the estimated 12.7 million people globally who are blind due to their corneas being damaged or diseased.</p>
        <p>Hitherto, people with cornea disease have required a transplant from a human donor to be able to see again. However, just one in 70 patients receives one.</p>
		
		<p>	That could soon change after scientists at Linköping University (LiU) and LinkoCare research institute in Sweden developed an alternative from pig skin, a byproduct of the meat industry. 
		</p>
		
		<p>
      “The results show that it is possible to develop a biomaterial that meets all the criteria for being used as human implants, which can be mass produced and stored up to two years and thereby reach even more people,” said LiU Prof Neil Lagali, a lead researcher
		</p>

    <p>A larger trial and regulatory approval is required before the implant can be used in healthcare. The results of the study were published in Nature. </p>
      </div>
      <div class="div1Img">
        <img src="static/news/005.jpg" alt="news image">
      </div>
    </div>

    <!-- Division 2 -->
    <div class="grid">
      <div class="gridImg">
        <div class="dateTag">
          <p>2022.7.19</p>
        </div>
        <img src="static/news/003.jpg" alt="gridimg">
      </div>
      <div class="gridImg">
        <div class="dateTag">
          <p>2021.12.15</p>
        </div>
        <img src="static/news/004.jpg" alt="gridimg">
      </div>
      <div class="gridImg">
	  
        <div class="dateTag">
          <p>2020.08.11</p>
        </div>
        <img src="static/news/006.jpg" alt="gridimg">
      </div>
	  
	  <div class="gridImg">
        <div class="dateTag">
          <p>25.10.22</p>
        </div>
        <img src="static/news/more.webp" alt="gridimg">
      </div>
	  
      <div class="gridContent">
        <p><b>Green travel: the low-cost rail firms taking on Europe’s airlines</b></p>
        <p>Train travel may tread more lightly on the planet than emissions-belching cars and planes, but the oft-repeated lament is that it weighs heavy on the wallet. Not so Lumo. The no-frills, all-electric train service launched a year ago to give budget airlines an 800-mile run for their money on the hop between London and Edinburgh — the UK’s busiest domestic air route. And as it blows out the candles on its first birthday cake, the operator gets to eat it, too, as data shows that trains are now the preferred option for people travelling between the English and Scottish capitals.</p>
      <p>Civil Aviation Authority and government train ticket data suggests that, pre-pandemic, 65 per cent of passengers chose planes over trains between London and Edinburgh. However, between April and July this year, that preference had shifted to 54 per cent in favour of rail, rising to as much as 63 per cent in July alone.</p>
      </div>
      <div class="gridContent">
        <p><b>Amid the climate gloom, surging renewables bring a ray of hope</b></p>
        <p>For several years, renewable energy specialists have been pointing to a potential transformation in their field, mainly around a range of technical improvements that have resulted in a sharp reduction in the cost of generating electricity from renewables, with the potential for this to continue for some years to come.</p>
        <div class="tagLine">
          <h2>The agency added: “Renewables are set to account for almost 95 per cent of the increase in global power capacity through 2026, with solar PV alone providing more than half.”</h2>
        </div>
      </div>
      <div class="gridContent">
        <p><b>Air pollution falls in China after extensive efforts to reduce emissions</b></p>
        <p>Air pollution has been a key public health concern in the nation, which has high levels of both household air pollution and pollutants emitted by industries and road traffic.</p>
        <p>Particulate matter, the tiny particles of pollution that cause the most damage to health, as well as the household burning of solid fuels have both decreased markedly in recent years in China.</p>
        <p>The research was published by The Lancet and funded by the Bill & Melinda Gates Foundation and the China National Key Research and Development Program. Experts studied air pollution in all 33 provinces, autonomous regions, municipalities and special administrative regions in China.</p>
        <p>They found that between 2013 and 2017, particle pollution in 74 key Chinese cities reduced by an average of 33 per cent.</p>      
      </div>
	  
	        <div class="gridContent">
        <p><b>More</b></p>
        <p>If you want more, please register in your system!</p>
		<br>
		<h3><a href="./register?e={{ e }}"><img src="static/news/register.png"></a></h3>
      </div>
    </div>
    <hr>
    <div class="bottomLine">
      <div class="bottomLineContent">
        <p>© positive.news </p>
      </div>
      <div class="bottomLineContent">
        <p>Good News</p>
      </div>
    </div>
  </body>
</html>
